---
layout: default
title: Yuriy Palamarchuk
---

<div>


<div>
  <h1>Blog Posts</h1>
   <br />
  <ul class="posts">
    {% for post in paginator.posts %}
 
      
  <p>
    {{ post.content }}
  </p>   
    {% endfor %}
  </ul>
</div>

<div class="paging">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older Posts</a>
  {% endif %}
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <a href="/" class="newer">Newer Posts</a>
  {% else %}
    <a href="/page{{paginator.previous_page}}" class="newer">Newer Posts</a>
  {% endif %}
{% endif %}
</div>




  <h1>Friends</h1>
  <ul class="posts">
    <li><a href="http://xieergai29.livejournal.com/106041.html">Xieergai:</a> In Russian: don't study Chinese.</li>
    <li><a href="http://xieergai29.livejournal.com/104575.html">Xieergai:</a> "Romantic" Chinese students</li>
    <li><a href="http://xieergai29.livejournal.com/97942.html">Xieergai:</a> Law in China</li>
  </ul>
</div>



