---
layout: default
title: Yuriy Palamarchuk
---

<div>

<div>

  <ul class="posts">
    {% for post in site.posts %}
        <li>
  <p>
    {{ post.content }} &nbsp;
  </p>
        </li>
    {% endfor %}
  </ul>
</div>

<div class="paging">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older"><h3>Older posts</h3></a>
  {% endif %}
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <a href="/" class="newer"><h3>Newer Posts</h3></a>
  {% else %}
    <a href="/page{{paginator.previous_page}}" class="newer"><h3>Newer posts</h3></a>
  {% endif %}
{% endif %}
</div>

</div>



