<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Yuriy Palamarchuk </title>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script language="JavaScript" type="text/javascript">
/*<![CDATA[*/
var Lst;

function CngClass(obj){
 if (Lst) Lst.className='';
 obj.className='selected';
 Lst=obj;
}

/*]]>*/
</script>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Yuriy Palamarchuk </a></h1>
				
			</div>
                        
                        
 
                        
                        
                        
                        
	<div id="menu">
            <div id="nav1"> 
              <ul>
                <li style="border:none">
                  <a href="http://youli.co/index.html" shape="rect" class="selected">Blog</a><span class="shadow"></span>
                </li>
                <li id="photo">
                  <a href="http://youli.co/photo.html" onclick="CngClass(this);" shape="rect">Photos</a>
                </li>
				<li>
                  <a href="http://youli.co/video.html" onclick="CngClass(this);" shape="rect">Videos</a>
                </li>
				<li>
                  <a href="http://youli.co/about.html" onclick="CngClass(this);" shape="rect">Contact</a>
                </li>
 
              </ul> 
            </div> 
			</div>
		</div>
	</div>
	<!-- end #header -->
        
        	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
                                        {{ content }}
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
                                
				<div id="sidebar">
					<ul>
	
						<li>
							<h2>Categories</h2>
							<ul>
								<li><a href="#">Show</a></li>
								<li><a href="#">Life</a></li>
								<li><a href="#">Psychology</a></li>
								<li><a href="#">China</a></li>
								<li><a href="#">Trainings</a></li>
								<li><a href="#">Girls</a></li>
                                                                <li><a href="#">Chinese</a></li>
                                                                <li><a href="#">Cantonese</a></li>
							</ul>
						</li>
						<li>
							<h2>Archives</h2>
							<ul>
								<li><a href="#">July 2011</a></li>
								<li><a href="#">June 2011</a></li>
								<li><a href="#">May 2011</a></li>
							</ul>
						</li>
						<li>
							<h2>Links</h2>
							<ul>
								<li><a href="http://weibo.com/youli86">weibo.com/youli86</a></li>
								<li><a href="http://twitter.com/palamarchuk">twitter.com/palamarchuk</a></li>
                                                                <li><a href="http://facebook.com/palamar4uk">facebook.com/palamar4uk</a></li>
								<li><a href="http://s637.photobucket.com/albums/uu96/palamar4uk/">Palamar4uk photobucket.com</a></li>
								<li><a href="http://shenzhen.livejournal.com">shenzhen.livejournal.com</a></li>
								<li><a href="http://xieergai29.livejournal.com">xieergai29.livejournal.com</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->

</div>
<div id="footer">
	<p>Copyright (c) 2011 youli.co All rights reserved. Design by <a href="http://shenzhen.livejournal.com/">Oleg Shatrov</a>.</p>
</div>
<!-- end #footer -->

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18612170-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics end -->

</body>
</html>
        
        

