<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Yuriy Palamarchuk </title>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script language="JavaScript" type="text/javascript">




/*<![CDATA[*/
var Lst;




function CngClass(obj){
    
 if (Lst) Lst.className='';
 obj.className='selected';
 Lst=obj;
 
 var string=(location.href);
var getit = new Array(); 
var getit = string.split('/');
var result=getit[3]; 
var filename=result.split(",");
if (filename == "about.html") { }
 
}

// onload function to detect the page we are and light up the right button
function lightUp(){
 
 var string=(location.href);
 // we work with slashes, so we need to make sure there are enough of them
 if (string == "http://youli.co/") {
    string = "http://youli.co/index.html";
    }
var getit = new Array(); 
var getit = string.split('/');
var result=getit[3];
var filename=result.split(",");

    var shadow = document.createElement('span');
    shadow.setAttribute('class', 'shadow');

if (filename == ("index.html" || "")) {
    var about = document.getElementById("blog").setAttribute("class", "selected");
    var menu_blog = document.getElementById("menu_blog");
    menu_blog.appendChild(shadow);  
    }
    
else if (filename == "photo.html") {
    var photo = document.getElementById("photo").setAttribute("class", "selected");
    var menu_photo = document.getElementById("menu_photo");
    menu_photo.appendChild(shadow);  
    }
    
else if (filename == "video.html") {
    var about = document.getElementById("video").setAttribute("class", "selected");
    var menu_video = document.getElementById("menu_video");
    menu_video.appendChild(shadow);  
    }


else if (filename == "about.html") {
    var about = document.getElementById("about").setAttribute("class", "selected");
    var menu_about = document.getElementById("menu_about");
    menu_about.appendChild(shadow);  
    }
else {
    var about = document.getElementById("blog").setAttribute("class", "selected");
    var menu_blog = document.getElementById("menu_blog");
    menu_blog.appendChild(shadow); 
}
 
}

/*]]>*/
</script>
</head>
<body onload="lightUp()">
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Yuriy Palamarchuk </a></h1>
				
			</div>
                        
                        
 
                        
                        
                        
                        
	<div id="menu">
            <div id="nav1"> 
              <ul>
                <li id="menu_blog">
                  <a href="http://youli.co/index.html" shape="rect" id="blog">Blog</a>
                </li>
                <li id="menu_photo">
                  <a href="http://youli.co/photo.html" shape="rect" id="photo">Photos</a>
                </li>
		<li id="menu_video">
                  <a href="http://youli.co/video.html" shape="rect" id="video">Videos</a>
                </li>
		<li id="menu_about">
                  <a href="http://youli.co/about.html" shape="rect" id="about">Contact</a>
                </li>
 
              </ul> 
            </div> 
			</div>
		</div>
	</div>
	<!-- end #header -->
        
        	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
                                        {{ content }}
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
                                
				<div id="sidebar">
					<ul>
	
						<li>
							<h2>Categories</h2>
							<ul>
								<li><a href="#">Show</a></li>
								<li><a href="#">Life</a></li>
								<li><a href="#">Psychology</a></li>
								<li><a href="#">China</a></li>
								<li><a href="#">Trainings</a></li>
								<li><a href="#">Girls</a></li>
                                                                <li><a href="#">Chinese</a></li>
                                                                <li><a href="#">Cantonese</a></li>
							</ul>
						</li>
						<li>
							<h2>Archives</h2>
							<ul>
								<li><a href="#">July 2011</a></li>
								<li><a href="#">June 2011</a></li>
								<li><a href="#">May 2011</a></li>
							</ul>
						</li>
						<li>
							<h2>Links</h2>
							<ul>
								<li><a href="http://weibo.com/youli86">weibo.com/youli86</a></li>
								<li><a href="http://twitter.com/palamarchuk">twitter.com/palamarchuk</a></li>
                                                                <li><a href="http://facebook.com/palamar4uk">facebook.com/palamar4uk</a></li>
								<li><a href="http://s637.photobucket.com/albums/uu96/palamar4uk/">Palamar4uk photobucket.com</a></li>
								<li><a href="http://shenzhen.livejournal.com">shenzhen.livejournal.com</a></li>
								<li><a href="http://xieergai29.livejournal.com">xieergai29.livejournal.com</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->

</div>
<div id="footer">
	<span>
        Yuriy Palamarchuk Blog
        </span>
        <span style="">Follow me<br /><img src="images/twitter.png"/><img src="images/atom.png"/><img src="images/facebook.png"/><img src="images/weibo.png" />  </span>
        
</div>
<!-- end #footer -->

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18612170-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics end -->

</body>
</html>
        
        

